body {
    background: white;
}

a {
  display: none;
}

button {
  display: none;
}

#stats{
  border-right: 1px solid black;
}

h1 {
  font-size: 1.1em;
}

stat {
  display: none;
}

.ac {
  display: none;
}

.no-print {
  display: none;
}

input {
  border: 0px solid;
  font-size: 2em;
}
